/* Color Theme Swatches in Hex */
$Mode-1-hex: #EAF205;
$Mode-2-hex: #F2E205;
$Mode-3-hex: #A69B03;
$Mode-4-hex: #D9D9D9;
$Mode-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Mode-1-rgba: rgba(234,242,4, 1);
$Mode-2-rgba: rgba(242,226,4, 1);
$Mode-3-rgba: rgba(165,154,3, 1);
$Mode-4-rgba: rgba(216,216,216, 1);
$Mode-5-rgba: rgba(12,12,12, 1);

/* Color Theme Swatches in HSLA */
$Mode-1-hsla: hsla(61, 96, 48, 1);
$Mode-2-hsla: hsla(56, 96, 48, 1);
$Mode-3-hsla: hsla(56, 96, 33, 1);
$Mode-4-hsla: hsla(0, 0, 85, 1);
$Mode-5-hsla: hsla(0, 0, 5, 1);